.DelegatedResources-body {
    padding-top: 30px;
    max-width: 1000px;
    margin: auto;
    min-width: 570px;
}
.DelegatedResources-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DelegatedResources-body .w-title {
    color: #ff886d;
    font-size: 20px;
    font-weight: 700;
}
.DelegatedResources-body .del-table {
    padding-top: 30px;
}
.del-table-header div {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.del-table-header .header-account, .del-table-header .header-amount {
    width: 30%;
}
.del-table-header .header-action, .del-table-header .header-type {
    width: 20%;
}
.del-table-body{
    padding: 15px 0;
}

.DelegatedResources-body .new-permission-btn {
    margin: 0 !important;
}