
.staking-history-board {
    padding: 30px 75px;
    margin-top: 30px;
    background-color: #242b3d;
    border-radius: 20px;
    display: inline-block;
}
.staking-history-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.staking-history-header .header-left div:first-child {
    font-size: 20px;
    text-align: left;
    margin-bottom: 8px;
    font-weight: 800;
}
.staking-history-header .header-left div:last-child {
    font-size: 16px;
    color: #ff886d;
    font-weight: 600;
}
.staking-history-header .header-right div:first-child {
    font-size: 14px;
    font-weight: 800;
    text-align: left;
    color: #707070;
    margin-bottom: 5px;
}
.staking-history-header .header-right div:last-child {
    font-size: 18px;
    font-weight: 700;
}
.staking-history-body {
    display: flex;
    padding-top: 30px;
}
.staking-history-body .history-body-right {
    width: 100%;
}
.staking-history-img {
    width: 100%;
    margin-right: 40px;
}
.history-body-right .history-body-des {
    padding-top: 25px;
    text-align: left;
}
.history-body-right .history-body-des div:first-child {
    font-size: 14px;
    font-weight: 600;
    color: #707070;
    text-align: left;
    margin-bottom: 5px;
}
.history-body-right .history-body-des div:last-child {
    font-size: 18px;
    font-weight: 700;
}