.staking-history-container {
    width: 100%;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
}
.staking-history-board {
    padding: 30px 40px;
    margin-top: 30px;
    background-color: #242b3d;
    border-radius: 20px;
    width: 100%;
    max-width: 716px;
}
.staking-history-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.staking-history-header .header-left div:first-child {
    font-size: 20px;
    text-align: left;
    margin-bottom: 8px;
    font-family: MontserratExtraBold;
}
.staking-history-header .header-left div:last-child {
    font-size: 16px;
    color: #ff886d;
    font-family: montserratSemiBold;
}
.staking-history-header .header-right div:first-child {
    font-size: 14px;
    font-family: MontserratExtraBold;
    text-align: left;
    color: #707070;
    margin-bottom: 5px;
}
.staking-history-header .header-right div:last-child {
    font-size: 18px;
    font-family: montserratBold;
}
.staking-history-body {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}
.staking-history-body .history-body-right {
    width: 23%;
    display: flex;
    flex-direction: column-reverse;
}
.staking-history-img {
    width: 100%;
    margin-right: 40px;
}
.history-body-right .history-body-des {
    text-align: left;
    padding-bottom: 30px;
}
.history-body-right .history-body-des div:first-child {
    font-size: 14px;
    font-family: montserratSemiBold;
    color: #707070;
    text-align: left;
    margin-bottom: 5px;
}
.history-body-right .history-body-des div:last-child {
    font-size: 18px;
    font-family: montserratBold;
}