.walletSettings-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.walletSettings-header .delegate-btn {
    padding: 8px 15px !important;
    background-color: rgba(255, 136, 109, 0.3);
    color: rgba(170, 148, 147, 1);
    font-size: 16px;
    font-weight: 700;
}
.walletSettings-header img {
    width: 18px;
    height: 12px;
}
.walletSettings-header img:hover {
    cursor: pointer;
}
.walletSettings-body {
    padding: 15px 0;
    max-width: 800px;
    margin: auto;
}
.walletSettings-body .w-title {
    color: #ff886d;
    font-size: 20px;
    font-weight: 700;
}
.w-form {
    padding-top: 20px;
}
.w-form .seller-input {
    margin: 20px 0;
}
.w-form .seller-input .input-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.w-form .seller-input .ui-common-input input::placeholder {
    color: white !important;
    font-weight: 600;
    font-size: 16px !important;
}
.w-form .seller-input .ui-common-input {
    font-size: 16px !important;
}
.ui-common-input .input {
    width: 100%
}
.ui-common-input.dropdown {
    width: 100% !important;
    border-radius: 30px !important;
    background-color: #242b39 !important;
    color: #ffffff !important;
    font-size: 20px !important;
    font-weight: bold !important;
}
.btn-wrap .btn-inside {
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    display: inline-block;
    border-radius: 10px;
}
.btn-wrap .btn-round {
    color: white;
    font-weight: 700;
    background-color: #242b39;
    border: 1px solid #707070;
}
.btn-wrap .btn-right {
    margin-left: 20px;
}
.btn-wrap .active-btn {
    background-color: #ff886d; 
    border: 1px solid #ff886d; 
}
.w-img-wrap {
    position: relative;
}
.w-input-img {
    width: 18px;
    height: 14px;
    position: absolute;
    top: 58px;
    right: 20px;
}
.w-form .delegate-btn {
    width: 100%;
}