.smartContractAccount-body {
    padding-top: 30px;
    max-width: 1000px;
    margin: auto;
}
.smartContractAccount-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.smartContractAccount-body .w-title {
    color: #ff886d;
    font-size: 20px;
    font-weight: 700;
}
.smartContractAccount-body .seller-input {
    padding-top: 30px;
    padding-bottom: 20px;
}
.smartContractAccount-body .seller-input .common-input::placeholder {
    color: #707070;
    font-size: 16px;
}
.smartContractAccount-body .ui-common-input input::placeholder {
    font-size: 16px !important;
}
.smartContractAccount-body .seller-input .input-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.smartContractAccount-body .delegate-btn {
    padding: 12px 15px !important;
    background-color: rgba(255, 136, 109, 0.3);
    color: rgba(170, 148, 147, 1);
    font-size: 16px;
    font-weight: 700;
}