/* customize round-dropdown */
.smartContractActions-body .round-dropdown.ui.fluid.dropdown {
    background-color: #242b39 !important;
    color: white !important;
    padding-left: 20px !important;
    border-radius: 20px !important;
    border: 1px solid #242b39 !important;
}
.smartContractActions-body .round-dropdown.ui.fluid.dropdown>.text {
    font-size: 16px;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
}
.smartContractActions-body .round-dropdown.ui.selection.active.dropdown .menu {
    background-color: #242b39 !important;
    border: none !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.smartContractActions-body .round-dropdown.ui.dropdown .menu .item {
    color: white !important;
    border: none !important;
}
.ui.selection.visible.dropdown>.text:not(.default) {
    color: white !important;
}
.smartContractActions-body .round-dropdown.ui.active.selection.dropdown {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.round-dropdown-label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.smartContractActions-body .seller-input {
    padding: 15px 0;
}
.smartContractActions-body .seller-input .input-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.smartContractActions-body .seller-input .common-input {
    padding-left: 20px !important;
    font-size: 16px;
    background-color: #242b39 !important;
}
.smartContractActions-body .seller-input .ui-common-input::placeholder {
    font-size: 16px;
    color: #707070;
} 
.smartContractActions-body .delegate-btn {
    padding: 12px 15px !important;
    background-color: rgba(255, 136, 109, 0.3);
    color: rgba(170, 148, 147, 1);
    font-size: 16px;
    font-weight: 700;
}