.whiteListedApps-body .item-list-wrap {
    padding: 10px 0;
}
.whiteListedApps-body .item-list-body {
    background-color: #242b39;
    border-radius: 20px;
}
.whiteListedApps-body .item-parent-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
}
.whiteListedApps-body .item-parent-left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.whiteListedApps-body .item-parent-right {
    margin-right: 10px;
}
.whiteListedApps-body .item-parent-left:hover {
    cursor: pointer;
}
.whiteListedApps-body .item-parent-left img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.whiteListedApps-body .item-parent-left div:first-child {
    font-size: 20px;
    font-family: montserratSemiBold;
}
.whiteListedApps-body .item-parent-left div:last-child {
    font-size: 12px;
    font-family: montserratSemiBold;
}
.whiteListedApps-body .item-child-wrap {
    padding: 15px;
}
.item-child-inner .item-child-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.item-child-inner .item-child-group>div:first-child {
    font-size: 14px;
    font-family: montserratSemiBold;
}
/* customize round-checkbox */
.round-checkbox .ui.checkbox .box:before, .round-checkbox .ui.checkbox label:before {
    border: 2px solid #ff886d !important;
    background-color: #473436 !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    opacity: 0.4 !important;
}
.round-checkbox .ui.checkbox .box:after, .round-checkbox .ui.checkbox label:after {
    color: #ff886d !important;
    content: "\2713" !important;
    border: none !important;
    background: transparent !important;
    top: 5px !important;
    font-size: 20px !important;
    left: 6px !important;
    opacity: 0.4 !important;
}
.round-checkbox .ui.checkbox input:checked:focus~label:after{
    background: transparent !important;
    content: "\2713" !important;
    color: #ff886d !important;
    font-size: 20px !important;
    top: 5px !important;
    left: 6px !important;
    opacity: 1 !important;
}
.round-checkbox .ui.checkbox input:checked:focus~label:before {
    opacity: 1 !important;
}