.customPermissions-body {
    padding-top: 20px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
.customPermissions-header {
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}
.customPermissions-body .w-title {
    color: #ff886d;
    font-size: 20px;
    font-weight: 700;
}
.customPermissions-body h3 {
    font-size: 18px;
    font-weight: 700;
}
.customPermissions-body .active-p-key {
    display: flex;
    align-items: center;
    background-color: #242b39;
    padding: 20px;
    border-radius: 30px;
}
.customPermissions-body .active-p-key img {
    margin-right: 10px;
}
.active-p-key .p-key-des div:first-child{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.active-p-key .p-key-des div:last-child {
    font-size: 12px;
    font-weight: 600;
}

.new-permission-btn {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff886d;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
}
.new-permission-btn img {
    margin-left: 20px;
}
.customPermissions-body .active-permission {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    background-color: #242b39;
    margin-top: 30px;
}
.active-permission-left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.active-permission img {
    margin-right: 10px;
}
.active-permission-des div:first-child {
    font-size: 16px !important;
    font-weight: 700 !important;
}
.active-permission-des div {
    font-size: 12px;
    font-weight: 600;
}