.delgateModal-body .common-input::placeholder {
  color: #707070 !important;
}
.delgateModal-body .common-input {
  font-family: montserratBold;
}
.modal-header {
  padding: 20px 20px;
  text-align: center;
  font-size: 25px;
  font-family: MontserratExtraBold;
}
.modal-header span:first-child {
  color: #ff886d;
  font-size: 38px;
  font-family: MontserratExtraBold;
}
.modal-header span:last-child {
  color: white;
  font-size: 38px;
  font-family: MontserratExtraBold;
}
.modal-body .input-select {
  padding-top: 10px;
  position: relative;
}
.modal-body input {
  border-radius: 15px;
}
.modal-body .resource-choose-dropdown {
  position: absolute;
  right: 0%;
  top: 10px;
  height: 50px !important;
}
.modal-body .input-select .d-title {
  font-size: 16px;
  font-family: montserratBold;
  padding-top: 15px;
  padding-bottom: 30px;
}
.modal-body .input-select .d-title span:first-child {
  color: #707070;
}
.modal-body .input-select .d-title span:last-child {
  color: white;
}
.delegate-btn {
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #ff886d;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
  font-family: montserratBold;
}
.delegate-btn:hover {
  cursor: pointer;
}
.delegate-btn img {
  margin-left: 10px;
  width: 20px;
}
.delgateModal-body .delegate-btn {
  font-size: 20px;
}
.delgateModal-body .resource-choose-dropdown .text {
  font-size: 18px !important;
  font-family: montserratSemiBold;
}
/* .delgateModal-body .resource-choose-dropdown .icon {
  top: 7px !important;
  right: 7px !important;
} */
