/* balance-section */
.balance-section {
    padding: 50px 30px;
  }
.balance-section .balance-chart-container {
    border-top: 8px solid #ff886d;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 20px;
    background-color: #242b39;
}
.balance-chart-container .balance-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.balance-chart-container .balance-total h4 {
    margin-bottom: 0 !important;
}
.balance-chart-container .balance-total .balance-percent {
    border-radius: 20px;
    background-color: rgba(57, 195, 84, 0.3);
    padding: 3px 10px;
    color: #39c354;
    font-weight: bold;
}
.balance-chart-container .chart-button-group .chart-white-btn {
    padding: 2px 12px;
    border: 1px white solid;
    border-radius: 7px;
    font-size: 12px;
}
.balance-chart-container .chart-button-group .chart-orange-btn {
    padding: 2px 12px;
    background-color: #ff886d;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    font-size: 12px;
}
.balance-chart-container .chart-button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.send-btn-wrap {
    margin: 20px 0;
}
.dashboard-send-btn {
    display: flex;
    padding: 15px 35px;
    background-color: #ff886d;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.dashboard-send-btn:hover, .balance-button-wrap:hover {
    cursor: pointer;
}
.dashboard-send-btn h3 {
    margin-bottom: 0px;
    margin-right: 5px;
}
.balance-button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 35px;
    border-radius: 20px;
    background-color: #242b39;
}
.balance-button-wrap .balance-button-title {
    font-size: 20px;
    color: #ff886d;
    margin-right: 10px;
}
.balance-button-group .balance-button-wrap {
    margin-top:  20px !important;
}