
.SellAssetModal.ui.active.modal {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    width: unset !important;
    height: 100% !important;
    background-color: #191f28 !important;
    position: absolute;
    top: 0%;
    right: 0%;
    padding-left: 30px;
    padding-right: 30px;
}
.SellAssetModal-body {
    display: flex !important;
    padding: 50px !important;
    color: white;
    font-size: 17px !important;
    font-family: montserratMedium;
    height: 100% !important;
}
.SellAssetModal-body .sell-left-container {
    padding: 30px 70px;
    background-color: #242b39;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SellAssetModal-body .sell-card {
    padding: 50px 20px;
    width: 350px;
    height: 100%;
}
.SellAssetModal-body .first-element{
    margin-bottom: 20px !important;
}
.SellAssetModal-body .sell-right-container .seller-input input::placeholder {
    color: #707070 !important;
}
.SellAssetModal-body .seller-input {
    position: relative;
}
.SellAssetModal-body .seller-input div:nth-child(4) {
    position: absolute;
    top: 58px;
    right: 204px;
    color: #6dff83;
    font-size: 17px;
    font-family: montserratBold;
}
.SellAssetModal-body .seller-input div:nth-child(3) {
    position: absolute;
    top: 58px;
    right: 282px;
    color: white;
    font-size: 17px;
    font-family: montserratBold;
}
.SellAssetModal-body .warn-hint {
    color: #ff886d;
    padding: 5px;
}
