.staking-modal-body {
  display: flex;
  padding-bottom: 50px;
}
.staking-modal-body .modal-header span:first-child {
  font-family: montserratMedium !important;
}
.staking-modal-body .modal-header span:last-child {
  font-family: montserratMedium !important;
}
.staking-modal-body .modal-header {
  padding-top: 30px;
  padding-bottom: 50px;
}
.staking-modal-body .modal-body {
  padding-bottom: 30px;
}
.rewards-info-row {
    color: white;
    font-family: montserratSemiBold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}