.swapTokenModal-body .input-custom-select {
    display: flex;
    padding: 10px 20px;
    background-color: #242b39 !important;
    margin-bottom: 30px;
    border-radius: 20px;
}
.swapTokenModal-body .modal-body>div:nth-child(2) {
    margin-bottom: 10px !important;
}
.input-custom-select .custom-input {
    width: 65%;
}
.input-custom-select input {
    background-color: transparent !important;
    border: none !important;
    width: 100%;
    height: 60%;
    display: block;
    outline: none;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.input-custom-select .custom-input span {
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.swapTokenModal-body .swap-dropdown {
    width: 35% !important;
    background-color: transparent !important;
    color: white !important;
    border: none !important;
}
.swap-dropdown .text {
    border: none !important;
    color: white !important;
    padding-top: 10px !important;
    font-size: 16px !important;
    font-weight: 500;
}
.swap-dropdown .icon {
    top: 20px !important;
}
.swap-dropdown .text img {
    margin-right: 10px !important;
}
.swap-dropdown .menu {
    border: none !important;
    background-color: rgb(36, 43, 57, 1) !important;
}
.ui.selection.dropdown .menu>.item {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.swapTokenModal-body .s-right-label {
    text-align: right;
    color: white;
    padding: 10px 0 20px 0;
    font-size: 16px;
    font-weight: 500;
}
.swapTokenModal-body .s-change-btn {
    position: absolute;
    top: 177px;
    right: 60px;
}