/* trending Assets section */
.trending-assets-section {
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid rgba(234, 241, 248, 0.2);
    overflow: hidden;
    margin-left: 40px;
}
  
.trending-assets-header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-bottom: 20px;
}
.trending-assets-title {
    font-size: 20px;
    font-family: montserratBold;
}
.trending-assets-section .trending-assets-view {
    color: #ff886d;
    font-size: 14px;
    font-family: montserratSemiBold;
}
.trending-assets-section .trending-assets-view:hover{
    cursor: pointer;
}

/* trending assets card section */
.trending-assets-card {
    text-align: center !important;
    background-color: #242b39 !important;
    border-radius: 25px !important;
    border: none !important;
    box-shadow: none !important;
    width: 170px !important;
    margin: 10px !important;
    padding: 10px !important;
    display: inline-block !important;
    position: relative;
}
.trending-assets-card>img{
    margin: auto !important;
    background: transparent !important;
    width: 100px;
    height: 110px;
}
.trending-assets-card .t-card-price {
    display: flex;
    justify-content: center;
    align-items: center;
}
.trending-assets-card .t-card-des {
    margin-left: 6px;
    color: #ffffff;
    font-size: 11px;
    font-family: montserratSemiBold;
}
.trending-assets-card .t-card-title {
    font-size: 12px;
    font-family: MontserratExtraBold;
}
.trending-assets-card .t-card-author {
    padding-bottom: 8px;
    color: #ff886d;
    font-size: 11px;
    font-family: montserratBold;
}
.trending-assets-card button {
    padding: 9px 30px !important;
    border: none !important;
    border-radius: 20px !important;
    background-color: rgba(255, 136, 109, 0.2) !important;
    color: #ff886d !important;
    margin-top: 10px !important ;
}