/* recommended app section */
.recommended-apps-section {
    padding: 40px 20px 40px 0;
    margin-left: 40px;
    border-bottom: 1px solid rgba(234, 241, 248, 0.2);
}
.recommended-apps-header {
    display: flex;
    justify-content: space-between;
}
.recommended-apps-title {
    font-size: 20px;
    font-weight: 700;
}
  
/* recommended app card */
.recommended-apps-card {
    text-align: center;
    margin-right: 30px;
    display: inline-block;
}
.recommended-apps-card img {
    width: 80px;
    height: 80px;
    margin: 5px 0;
}