/* recommended app section */
.recommended-apps-section {
    padding: 40px 20px 40px 0;
    margin-left: 40px;
    border-bottom: 1px solid rgba(234, 241, 248, 0.2);
}
.recommended-apps-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.recommended-apps-title {
    font-size: 20px;
    font-family: montserratBold;
    text-align: center;
}
  
/* recommended app card */
.recommended-apps-section .recommended-apps-card {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.recently-apps-section .recommended-apps-card {
    display: inline-block;
    margin-right: 30px;
    text-align: center;
}
.recommended-apps-card .app-title {
    text-align: center;
}
.recommended-apps-card img {
    width: 80px;
    height: 80px;
    margin: 5px 0;
}
.elipsis:hover {
    cursor: pointer;
}
.recommended-apps-card a {
    color: white;
}