.importAccountModal-body .private-key-section {
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    background-color: #242b39;
    color: #707070;
    font-size: 24px;
    font-weight: 700;
}
.importModal-label {
    padding: 10px 0;
    padding-left: 20px;
    color: white;
}
.custom-import textarea {
    width: 100% !important;
    background-color: #242b39 !important;
    border: none !important;
    color: white !important;
    resize: none !important;
    outline: none !important;
    font-size: 24px !important;
    border-radius: 20px !important; 
    padding-left: 20px;
    padding-top: 15px;
}

.custom-import.error {
    border: 1px solid #ff886d !important;
    border-radius: 20px !important;
}