.smartContractAccount-body {
    padding: 30px 20px;
    max-width: 1000px;
    margin: auto;
}
.smartContractAccount-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.smartContractAccount-body .w-title {
    color: #ff886d;
    font-size: 20px;
    font-family: montserratBold !important;
}
.smartContractAccount-body .seller-input {
    padding-top: 30px;
    padding-bottom: 20px;
}
.smartContractAccount-body .seller-input .common-input::placeholder {
    color: #707070;
    font-size: 16px;
}
.smartContractAccount-body .seller-input .input-title {
    color: white;
    font-size: 20px;
    font-family: montserratBold;
    margin-bottom: 10px;
}
.smartContractAccount-body .delegate-btn {
    padding: 15px 15px !important;
    background-color: rgba(255, 136, 109, 0.3);
    color: rgba(170, 148, 147, 1);
    font-size: 16px;
    font-family: montserratBold;
    border-radius: 15px;
}
.ui-common-input.dropdown {
    width: 100% !important;
    border-radius: 30px !important;
    background-color: #242b39 !important;
    color: #ffffff !important;
    font-size: 20px !important;
    font-family: montserratBold;
    margin-bottom: 20px !important;
}

/*-------------------------------SmartContractActions----------------*/
.smartContractActions-body {
    padding-top: 30px;
    max-width: 1000px;
    margin: auto;
}
.smartContractActions-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}
.smartContractActions-body .w-title {
    color: #ff886d;
    font-size: 20px;
    font-family: montserratBold;
}
.smartContractActions-body .w-account-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
}
.w-account-name div:first-child {
    color: white;
    font-size: 20px;
    font-family: montserratBold;
    margin-right: 20px;
}
.w-account-name div:last-child {
    padding: 8px 20px;
    background-color: rgba(255, 136, 109, 0.3);
    border-radius: 20px;
    color: #ff886d;
    font-family: montserratBold;
    font-size: 12px;
}

/*------------------Tab------------------------*/
/* customize round-dropdown */
.smartContractActions-body .round-dropdown.ui.fluid.dropdown {
    background-color: #242b39 !important;
    color: white !important;
    padding-left: 20px !important;
    border-radius: 20px !important;
    border: 1px solid #242b39 !important;
}
.smartContractActions-body .round-dropdown.ui.selection.active.dropdown .menu {
    background-color: #242b39 !important;
    border: none !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.smartContractActions-body .round-dropdown.ui.dropdown .menu .item {
    color: white !important;
    border: none !important;
}
.ui.selection.visible.dropdown>.text:not(.default) {
    color: white !important;
}
.smartContractActions-body .round-dropdown.ui.active.selection.dropdown {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.round-dropdown-label {
    font-size: 20px;
    font-family: montserratBold;
    margin-bottom: 15px;
}
.smartContractActions-body .seller-input {
    padding: 15px 0;
}
.smartContractActions-body .seller-input .input-title {
    font-size: 20px;
    font-family: montserratBold;
    margin-bottom: 10px;
}
.smartContractActions-body .seller-input .common-input {
    padding-left: 20px !important;
    font-size: 16px;
    background-color: #242b39 !important;
}
.smartContractActions-body .seller-input .common-input::placeholder {
    font-size: 16px;
    color: #707070;
}
.smartContractActions-body .delegate-btn {
    padding: 12px 15px !important;
    background-color: rgba(255, 136, 109, 0.3);
    color: rgba(170, 148, 147, 1);
    font-size: 16px;
    font-family: montserratBold;
}

.ui.tabular.menu .item {
    background: none !important;
    border-color: transparent !important;
    color: #ffffff !important;
    font-size: 20px;
    font-family: montserratBold;
}
.ui.tabular.menu .active.item {
    border-bottom: 2px solid #ff886d !important;
}
.ui.tabular.menu {
    border-bottom: none !important;
}
/*  contract account dropdown css  */
.smartContractAccount-body .ui.search.dropdown>.text {
    padding-left: 20px !important;
    margin-bottom: 0 !important;
}
.smartContractAccount-body .ui.active.selection.dropdown {
    border: none !important;
    border: 1px solid #242b39 !important;
}
.smartContractAccount-body .ui.selection.active.dropdown .menu {
    background-color: #242b39;
    border: none !important;
    border-bottom-left-radius: 27px !important;
    border-bottom-right-radius: 27px !important;
}
.smartContractAccount-body .ui.selection.dropdown .menu>.item {
    color: white !important;
    border: none !important;
    padding: 20px !important;
}

/*  contract action dropdown css  */
.smartContractActions-body .ui.search.dropdown>.text {
    padding-left: 20px !important;
    margin-bottom: 0 !important;
}
.smartContractActions-body .ui.active.selection.dropdown {
    border: none !important;
    border: 1px solid #242b39 !important;
}
.smartContractActions-body .ui.selection.active.dropdown .menu {
    background-color: #242b39;
    border: none !important;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}
.smartContractActions-body .ui.selection.dropdown .menu>.item {
    color: white !important;
    border: none !important;
    padding: 20px !important;
}

/* smartContract action parameters css */
.contract-actionParam-form .header {
    color: white !important;
    font-size: 20px !important;
    font-family: montserratBold !important;
}
.smartActions-tab-content .segment {
    background-color: #191f28 !important;
    color: white !important;
    padding: 0 !important;
}
.smartActions-tab-content .ui-common-input.ui.dropdown {
    border: none !important;
}
.smartActions-tab-content .ui-common-input.ui.dropdown>.text {
    margin-bottom: 0 !important;
    margin-left: 10px !important;
}
.contract-actionParam-form .delegate-btn, .smartActions-tab-content .delegate-btn {
    text-align: center;
    border-radius: 12px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 16px;
    font-family: montserratBold;
    width: 100%;
}
.smartContractActions-tab .tab {
    padding-left: 0 !important;
}

/* smartContractAction Parameters input css */
.contract-actionParam-form .ui-common-input label {
    color: white !important;
}
.contract-actionParam-form .message {
    background-color: #191f28 !important;
    box-shadow: none !important;
    color: #ff886d !important;
}
.contract-actionParam-form .message i {
    font-size: 2em !important;
}