.dashboardTokenModal-body {
  display: flex;
  padding-bottom: 50px;
}
.dashboardTokenModal .token-img-wrap {
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
}
.dashboardTokenModal .token-title {
  padding-top: 20px;
}
.dashboardTokenModal .token-title .left-title {
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.dashboardTokenModal .token-title .right-title {
  color: #ff886d;
  font-size: 18px;
}