.smartContractActions-body {
    padding-top: 30px;
    max-width: 1000px;
    margin: auto;
}
.smartContractActions-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.smartContractActions-body .w-title {
    color: #ff886d;
    font-size: 20px;
    font-family: montserratBold;
}
.smartContractActions-body .w-account-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
}
.w-account-name div:first-child {
    color: white;
    font-size: 20px;
    font-family: montserratBold;
    margin-right: 20px;
}
.w-account-name div:last-child {
    padding: 8px 20px;
    background-color: rgba(255, 136, 109, 0.3);
    border-radius: 20px;
    color: #ff886d;
    font-size: 12px;
    font-family: montserratBold;
}


