html {
  height: 100%;
  width: 100%;
}

body {
  font-family: montserrat;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
@font-face {
  font-family: montserrat;
  src: url(../../../../renderer/assets/fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: montserrat;
  src: url(../../../../renderer/assets/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: montserrat;
  src: url(../../../../renderer/assets/fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: montserrat;
  src: url(../../../../renderer/assets/fonts/Montserrat-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: montserrat;
  src: url(../../../../renderer/assets/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}
#root {
  width: 100%;
  height: 100%;
  position: relative;
}
.pin {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto
}
.pin .pin-digit {
  opacity: 0.4000000059604645;
  margin-left: 20px;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  width: 41px;
  height: 50px;
  color: #ffffff
}

.pin .pin-digit:focus-within {
  opacity: 1 !important;
}

.pin .pin-digit input {
  background: rgb(25, 31, 40) !important;
  color: rgb(70, 51, 53) !important;
  font-size: 29px !important;
  padding-left: 7px !important;
  padding-right: 0 !important;
  font-weight: 700 !important;
  caret-color: white;
}

.pin .is-filled {
  border-color: rgb(70, 51, 53) !important;
  opacity: 1 !important;
}

.pin .is-filled input {
  background: rgb(70, 51, 53) !important;
  color: rgba(255, 136, 109, 1) !important;
  border: rgb(70, 51, 53) !important;
}
.logo-img-wrap {
  position: relative;
}
.logo-text-wrap {
  color: white;
  margin-left: 20px;
  height: 100%;
}
.pin-wax {
  font-size: 60px;
  font-weight: bold;
  height: 38px;
}
.pin-desktop {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-rect1-wrap {
  padding: 25px;
  width: 100%;
  height: 100%;
}
.logo-rect2-wrap {
  padding: 25px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 30px;
  z-index: -99;
}
.logo-rect2 {
  box-sizing: border-box;
  transform: rotate(45deg);
  transform-origin: center;
  background-color: rgba(255, 136, 109, 1);
  border: solid 2px rgba(255, 136, 109, 1);
  border-radius: 10px;
  width: 64.97px;
  height: 64.97px; 
}

.logo-rect1 {
  box-sizing: border-box;
  transform: rotate(45deg);
  transform-origin: center;
  background-color: rgba(25, 31, 40, 1);
  border: solid 6px rgba(255, 136, 109, 1);
  border-radius: 10px;
  width: 64.97px;
  height: 64.97px; 
  z-index: 50;
}
.pin .onScreenInstruction {
  text-align: center;
  padding: 15px 0px;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  font-family: montserrat_semibold, Arial;
}
.pin .onScreenInstruction .onScreenInstruction-1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  font-family: montserrat_semibold, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.pin .onScreenInstruction .onScreenInstruction-2 {
  color: rgba(255, 136, 109, 1);
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  font-family: montserrat_bold, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.pin .onScreenInstruction .onScreenInstruction-3 {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  font-family: montserrat_semibold, Arial;
  letter-spacing: 0;
  text-decoration: none;
}
.pin-form {
  padding: 10px 0px;
  text-align: center;
}
.pin .resetWallet:hover {
  cursor: pointer;
}

.pin .resetWallet {
  opacity: 0.4000000059604645;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-family: montserrat_bold, Arial;
  padding: 10px 0;
}

/* resetWalletModal css */
.resetWalletModal {
  height: auto;
  box-sizing: border-box;
}
